manifest {
    mainScript = 'sourmash.nf'
}

profiles {
    standard {
        executor = 'local'
        process.container = 'hadrieng/sourmash'
        docker.enabled = true
    }

    planet {
        executor = 'sge'

        process.$adapter_trimming.clusterOptions = '-S /bin/bash'
        process.$adapter_trimming.time = '30m'
        process.$adapter_trimming.cpus = 1
        process.$adapter_trimming.memory = '1G'
        process.$adapter_trimming.module = 'scythe'

        process.$quality_trimming.clusterOptions = '-S /bin/bash'
        process.$quality_trimming.time = '30m'
        process.$quality_trimming.cpus = 1
        process.$quality_trimming.memory = '1G'
        process.$quality_trimming.module = 'sickle'

        process.$sourmash_compute.clusterOptions = '-S /bin/bash'
        process.$sourmash_compute.penv = 'smp'
        process.$sourmash_compute.time = '2h'
        process.$sourmash_compute.cpus = 1
        process.$sourmash_compute.memory = '1G'
        process.$sourmash_compute.module = 'sourmash'

        process.$sourmash_compare.clusterOptions = '-S /bin/bash'
        process.$sourmash_compare.penv = 'smp'
        process.$sourmash_compare.time = '2h'
        process.$sourmash_compare.cpus = 1
        process.$sourmash_compare.memory = '1G'
        process.$sourmash_compare.module = 'sourmash'
        process.$sourmash_compare.clusterOptions = '-S /bin/bash'

        process.$sourmash_plot.penv = 'smp'
        process.$sourmash_plot.time = '2h'
        process.$sourmash_plot.cpus = 1
        process.$sourmash_plot.memory = '1G'
        process.$sourmash_plot.module = 'sourmash'
}
